{{#if logged_in}}
<div id="comment-form-container" data-task="{{task.id}}">
    <form action="" id="comment-form" class="">
        <label for="comment-input">New Comment:</label>
        <textarea class="form-control" id="comment-input"></textarea>
        <button>Submit</button>
    </form>
</div>
<script src="/js/addComment.js"></script>
{{/if}}