<link rel="stylesheet" href="/css/add-tag.css">

<div class="row mt-4">
    <div class="col-md-6">

        <form class="form new-tag-form">
            <h3>Create a New Tag:</h3>
            {{!-- task title --}}
            <div>
                <label for="tag-name-input">Tag Name:</label>
                <input type="text" id="tag-name-input" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn-tag btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/addTag.js"></script>