{{!-- <div class="row g-0">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">E-mail:</label>
        <input class="form-input" type="text" id="inputEmail3" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="inputPassword3" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form login-form" id="signup-form">
      <div class="form-group">
        <label for="first_name-signup">First Name:</label>
        <input class="form-input" type="text" id="first_name-signup" />
      </div>
      <div class="form-group">
        <label for="last_name-signup">Last Name:</label>
        <input class="form-input" type="text" id="last_name-signup" />
      </div>
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">E-mail:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <label for="verifypassword-signup">Verify Password:</label>
        <input class="form-input" type="password" id="verifypassword-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div> --}}


<div class="d-flex justify-content-around vh-100 mx-25 login-container">

  <div class="d-flex flex-column justify-content-center align-items-center px-2 py-4 my-3 login">
    <h2>Login</h2>
    <form class="login-form" id="login-form">
        <label for="inputEmail3" class="col-form-label"></label>
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email/Username">
        <label for="inputPassword3" class="col-form-label" ></label>
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        <button type="submit" class="btn btn-primary btn-block mt-4" >Sign In</button>
      </form>
  </div>

  <div class="d-flex flex-column justify-content-center align-items-center px-2 py-4 my-3 login">
    <h2>Signup</h2>
    <form class="signup-form" id="signup-form">
        <label for="inputEmail3" class="col-form-label"></label>
        <input class="form-control" type="text" id="first_name-signup" placeholder="First Name"/>
        <label for="last_name-signup" class="col-form-label"></label>
        <input class="form-control" type="text" id="last_name-signup" placeholder="Last Name"/>
        <label for="username-signup" class="col-form-label"></label>
        <input class="form-control" type="text" id="username-signup" placeholder="Username"/>
        <label for="inputEmail3" class="col-form-label"></label>
        <input type="email" class="form-control" id="email-signup" placeholder="Email/Username">
        <label for="password-signup" class="col-form-label"></label>
        <input class="form-control" type="password" id="password-signup" placeholder="Password"/>
        <label for="verifypassword-signup" class="col-form-label"></label>
        <input class="form-control" type="password" id="verifypassword-signup" placeholder="Verify Password" />
        <button type="submit" class="btn btn-primary btn-block mt-4">Sign Up</button>
      </form>
  </div>
</div>
<script src="./js/register.js"></script>
<script src="./js/login.js"></script>