#main-container {
    text-decoration: none;
    background-color: #ebf4f6;
    padding: 30px;
    list-style: none;
    border-radius: 10px;
    margin: 30px;
    margin-top: 90px;
    
  }

  #main-container a {
    color: #ff6347;
    text-decoration: none;
    display: flex; 
    text-align: center;
    list-style: none;
  }

  #main-container h2 {
    color: #ff6347;
    text-decoration: none;
    display: flex; 
    text-align: center;
    list-style: none;
  }

  #main-container a:hover {
    text-decoration: underline;
  }
 

  @media screen and (max-width: 500px) {  
    #main-container {
      margin-right: 0;
      margin-left: 0;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
 
  
  